div{
    margin-top:100px;
    margin-left:100px;
}
span{
    display:inline-block;
    margin:8px;
    box-shadow: 0 0 25px black;
    padding:20px 25px;
    animation: movement 1s infinite linear;
    
}
@keyframes movement{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateX(100px);
    }
    100%{
        transform: translateY(0px);
    }
    0%{
        transform:rotate(0px);
    }
    50%{
        transform: rotate(100px);
    }
    100%{
        transform: rotate(0px);
    }
    0%{
        transform:scaleY(0px);
    }
    50%{
        transform: scaleY(100px);
    }
    100%{
        transform: scaleY(0px);
    }
    0%{
        transform:skew(0px);
    }
    50%{
        transform: skew(100px);
    }
    100%{
        transform: skew(0px);
    }
    0%{
        transform:skewX(0px);
    }
    50%{
        transform: skewX(100px);
    }
    100%{
        transform: skewX(0px);
    }
    0%{
        transform:skewY(0px);
    }
    50%{
        transform: skewY(100px);
    }
    100%{
        transform: skewY(0px);
    }
    0%{
        transform:matrix(0px);
    }
    50%{
        transform: matrix(100px);
    }
    100%{
        transform: matrix(0px);
    }
}
span:nth-child(1){
    background: linear-gradient(45deg,rgb(224, 9, 9), rgb(4, 91, 121));
    animation-delay: 0.1s;
    box-shadow: 010px 15px black;
}
span:nth-child(2){
    background: linear-gradient(45deg,rgb(224, 9, 9), rgb(4, 91, 121));
    animation-delay: 0.2s;
    box-shadow: 010px 15px black;
}
span:nth-child(3){
    background: linear-gradient(45deg, rgb(224, 9, 9), rgb(4, 91, 121));
    animation-delay: 0.3s;
    box-shadow: 010px 15px black;
}
span:nth-child(4){
    background: linear-gradient(45deg,rgb(224, 9, 9), rgb(4, 91, 121));
    animation-delay: 0.4s;
    box-shadow: 010px 15px black;
}
span:nth-child(5){
    background: linear-gradient(45deg, rgb(224, 9, 9), rgb(4, 91, 121));
    animation-delay: 0.5s;
    box-shadow: 010px 15px black;
}
span:nth-child(6){
    background: linear-gradient(45deg, rgb(224, 9, 9), rgb(4, 91, 121));
    animation-delay: 0.6s;
    box-shadow: 010px 15px black;
}
span:nth-child(7){
    background: linear-gradient(45deg, rgb(224, 9, 9), rgb(4, 91, 121));
    animation-delay: 0.7s;
    box-shadow: 010px 15px black;
}
span:nth-child(8){
    background: linear-gradient(45deg, rgb(224, 9, 9), rgb(4, 91, 121));
    animation-delay: 0.8s;
    box-shadow: 010px 15px black;
}
span:nth-child(9){
    background: linear-gradient(45deg, rgb(224, 9, 9), rgb(4, 91, 121));
    animation-delay: 0.9s;
    box-shadow: 010px 15px black;
}
