table, th, td{
    /* border: 1px solid black;
    border-collapse: collapse; */
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    font-family: cursive;
    font-size: 30px;
}
table{
    width:100%;
    
}
th{
    background-color: rgb(255, 0, 119);
    color: white;
}
tr:nth-child(even){
    background-color: rgba(128, 0, 128, 0.5);
}
tr:nth-child(odd){
    background-color: aquamarine;
}
td:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}