<!-- <ul>
    <li *ngFor="let user of users">{{user.name}}</li>
</ul> -->
<div class="container">
        
    <div *ngIf="condition" class="alert alert-success">user removed successfully
             <button class="btn btn-outline-danger offset-md-8" (click)="close()">x</button> 
    </div> 
    <!-- <div *ngIf="condition" class=" alert alert-warning alert-dismissible fade show" role="alert">
        <strong>user successfully removed</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
    
<table class="table table-hover table-bordered mt-5">
    <thead class="thead-dark">
        <th>id</th>
        <th>name</th>
        <th>city</th>
        <th>delete</th>
    </thead>
    <tbody>
        <tr *ngFor='let user of users'>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.city}}</td>
            <td><button class="btn btn-outline-danger"
                 (click)="removeUser(user)">Remove</button></td>
        </tr>
    </tbody>
</table>
</div>

<!-- <div *ngIf='condition'> condition is true</div> -->