<div class="container">
    <div class="card card col-md-6 offset-3 mt-5">
        <h4 class="text-center">Register Here</h4>
        <!-- creating a Template Driven Form -->
        <!-- creating an trf and assigning it to the ngForm -->
    <form action="" #registerForms='ngForm' (ngSubmit)='printForm(registerForms)'>
    <div class="form-group">
        <label for="username" class="col-md-12">username</label>
        <!-- name field is mandotory that is assigned with ngmodel for the input field -->
        <input type="email" name="username" required placeholder="username" class="form-control  col-md-12 " #username='ngModel' ngModel required minlength="5" email >
        <!-- providing validations to the template driven form using predefined validators -->
        <div *ngIf='username.touched && username.invalid'>
                <div class="alert alert-danger"  *ngIf='username.errors.minlength'>minimum length of input is 4</div>
                <div class="alert alert-danger"  *ngIf='username.errors.required'>field required</div>
                <div class="alert alert-danger"  *ngIf='username.errors.email'>this input field seems to take email only </div>
        </div>    
    </div>
    <div  class="form-group">
         <label for="password"class="col-md-12">password</label> 
        <input type="password" name ="password" required placeholder="password" class="form-control col-md-12" #password='ngModel' ngModel required minlength="4" >
        <div *ngIf='password.touched && password.invalid'> 
                <div class="alert alert-danger"  *ngIf='password.errors.minlength'>minimum length of input is 4</div>
                <div class="alert alert-danger"  *ngIf='password.errors.required'>field required</div>
        </div>
    </div>
    <div  class="btn-group col-md-12">
        <button type="submit" class="btn btn-outline-success "[disabled]='registerForms.invalid'>Submit</button>
        <button type="reset" class="btn btn-outline-danger ">Reset</button>
    </div>
</form>              
</div> 
</div>



