<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/router">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/news">news</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/movies">movies</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"  routerLink="/git">git</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"  routerLink="/placep">places</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"  routerLink="/login">login</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"  routerLink="/users">login</a>
            </li>
        </ul>
    </div>
</nav>
