<!-- <h1 [ngClass]='{"bg-success" : "isSuccess", "text-white" : "isSuccess"}'> hello class directive</h1>---------- we can have many class values -->
<!-- <h1 [ngClass]='classessArray'>
    hello class directive</h1>

    <h1 [ngStyle]="{'padding': isSuccess ? '50px': '0px',
                    'background': isSuccess ? 'green': 'red'}">ngStyle attribute </h1> -->

      <p appMyDirective="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt provident obcaecati delectus accusamus, fugit ipsam cumque numquam repudiandae dolore excepturi dolores earum itaque cupiditate dicta minus ad, nam nisi a, adipisci dignissimos voluptatum suscipit? Officiis eaque, minus asperiores blanditiis quis alias unde cumque sint est repudiandae corporis fugit ipsam eius?</p>              