<div class="container">
    <div class="card card-body float-left col-md=3" *ngFor='let prod of prodService.products'>
        <!-- <p>NAME : {{prod.name}}</p> -->
        <p>BRAND : {{prod.brand}}</p>
        <img src="{{prod.url}}" alt="" class="card-img-top">      
        <p>DESCRIPTION : {{prod.description}}</p>
        <button class="btn btn-warning" (click)="updateprod(prod)">update</button>
        <button class="btn btn-danger" (click)="deleteprod(prod)">delete</button>
    </div>
</div>