        <table class="table table-borders">
            <thead>
                <tr>
                    <th>photo</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>repoURL</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let git of gitNews'>
                    <td><img src="{{git.avatar_url}}" alt="" height="100px" width="100"></td> 
                    <td> <p>{{git.id}}</p></td>
                    <td> <h3>{{git.login}}</h3></td>
                    <td> <a href="{{git.url}}" class="btn btn-primary">click here for more</a></td>                    
                    <td><button (click)="deleteUser(git)" class="btn btn-outline-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>

      
